<header class="mb-4">   <%# margine bottom %>
    <nav class = "navbar navbar-expand-sm navbar-dark bg-dark"> <%# expand-sm -> small 画面で表示が変わる %>
        <a class="navbar-brand" href="/">Microposts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupportedContent">
           <span class="navbar-toggle-icon"></span> 
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
           <ul class="navbar-nav"                   >
              <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li> 
              <li class="nav-item"><a href="#" class="nav-link">Login</a></li>  <%# href=#ってどんな意味?%>
           </ul>
        </div>
    </nav>
</header>